SECRET_KEY=replace-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,testserver
NGROK_URL=

TELEGRAM_BOT_TOKEN=replace-me
GEMINI_API_KEY=

GOOGLE_APPLICATION_CREDENTIALS=../google-cloud-key.json
VERTEX_AI_PROJECT=ai-image-editor-492616
VERTEX_AI_LOCATION=us-central1
