*.pyc
__pycache__/
db.sqlite3
.env
.pytest_cache/
media/
# static/ papkasini ignore qilamiz, lekin static/react/ ni tracklaymiz (frontend build)
static/*
!static/react/
!static/react/**
google-cloud-key.json
models/
cache/
